.exp {
  scroll-margin-top: 10rem;

  &__heading {
    display: inline-block;
    text-align: center;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 6.2rem;
    // &::after {
    //   content: "";
    //   background-image: url(../image/marker.svg);
    //   background-repeat: no-repeat;
    //   width: 13.2rem;
    //   height: 3rem;
    //   position: absolute;
    //   bottom: -3rem;
    //   right: 1rem;
    // }
  }
  &__list {
    max-width: 1024px;
    margin: 0 auto 12.8rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3.4rem 2.8rem;
    list-style-type: none;
  }
  &__item {
    border: 2px solid $ternary-color;
    border-radius: 1rem;
    &-top {
      padding: 1.6rem 3.2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $ternary-color;
    }
    &:first-child,
    &:nth-child(3) {
      animation: leftTo 1s ease-in-out 50ms;
    }
    &:last-child,
    &:nth-child(2) {
      animation: rightTo 1s ease-in-out 50ms;
    }
  }
  &__name {
    text-align: left;
  }
  &__logo {
    width: 4.8rem;
    height: 4.8rem;
  }
  &__item-bottom {
    padding: 1.6rem 3.2rem;
    p + p {
      margin-top: 1.6rem;
    }
  }
}

@media screen and (max-width: 1023.98px) {
  .exp__container {
    padding: 0 2rem;
  }
}
