h1 {
  font-weight: 800;
  font-size: 4rem;
  line-height: calc(54 / 40);
  text-transform: capitalize;
}
h2 {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: calc(38.4 / 32);
}
h3,
h4,
h5,
h6 {
  font-size: 2rem;
  font-weight: 700;
  line-height: calc(24 / 20);
  text-align: center;
}
.text-bg {
  font-size: 2rem;
  line-height: calc(32 / 20);
  font-weight: 300;
  animation: opacityTransform 1s ease-in-out 50ms;
}
.text-md {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: calc(25.6 / 16);
}
.text-md--bold {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: calc(25.6 / 16);
}
.text-sm {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: calc(22.4 / 14);
}
.text-sm--bold {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: calc(22.4 / 14);
}
